
@{
    ViewBag.Title = "ConfirmEmailWasSended";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmEmailWasSended</h2>
<p>Email with confirmation code was sended to email : @ViewBag.Email</p>
@Html.ActionLink("Login", "Login")