packages/*
WebApplicatationPollService/bin/*
WebApplicatationPollService/obj/*
WebApplicatationPollService/App_Data/*
WebApplicatationPollService/Migrations/*
.vs/*
WebApplicationPollServiceTest/bin/*
WebApplicationPollServiceTest/obj/*
